/* 
.nav{
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
}

.body{
  background-color: rgb(192, 226, 239);
  font-family: arial;
  min-height: 100vh;
}


.create-Product-Btn{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 960px;
  margin: 30px auto;
}

#cart {
  width: 200px;
  height: 400px;
  background-color: rgb(255, 238, 238);
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  top: 60px;
  right: 40px;
  overflow: scroll;
}

.cart-button {
  background-color: pink;
  border: none;
}

.cart-button:hover {
  color: rgb(60, 60, 60);
}

.in-cart-list {
  list-style-type: none;
  width: 100%;
  display: flex;
}

.in-cart-list img {
  margin-right: 10px;
}

.product-form{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 20px 30px;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1rem;
  width: 850px;
  margin: 10px auto;
  background-color: antiquewhite;
  border-radius: 5px;
}
.product-form input{
  width: 98%;
  height: 1.3rem;
  border-radius: 2px;
  border: 1.2px solid;
}
.product-form textarea{
  width: 100%;
}
.product-form button{
  width: 100%;
  height: 1.8rem;
  border-radius: 6px;
  border: 1.5px solid;
  
}
.product-form-info{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.product-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 50px;
  align-items: center;
  line-height: 1rem;
  margin: 10px auto;
  background-color: antiquewhite;
  border-radius: 5px;
  margin: 20px 150px;
}
.title-addProduct{
  text-align: center;
}
.product-form-info input{
  width: 100%;
  height: 1.3rem;
  border-radius: 2px;
  border: 1.2px solid;
}
.product-form textarea{
  width: 100%;
}
.product-form button{
  width: 100%;
  height: 1.8rem;
  border-radius: 6px;
  border: 1.5px solid;
}
.product-form-info{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.product-form-photo{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.checkout{
  display: grid;
  grid-template-columns: 3.5fr 1.3fr;
  grid-template-areas: 
  'orders news'
  'shipping news';
  line-height: 1rem;
  margin: 40px 50px;
}


.ShoppingCart{
  position: absolute;
  top: 65px;
  right: 39px;
  border: 1px solid rgb(246, 230, 211);
  background-color: rgb(251, 233, 211);
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
}

.ShoppingItem{
  display: flex;
  flex-direction: row;
  align-items:center;
  gap: 10px;
  padding: 0 10px;
  justify-items:left;
  justify-content:space-between
}
.shoppingCart-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px;
}
.Checkout-Products{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  
}
.checkout .ShoppingCart{
  position: unset;
  background-color: unset;
  border: none;
}
.checkout .shoppingCart-btn{
  display: none;
}

.changeQuantity{
  display: inline;
}
.ShoppingCart .changeQuantity{
  display: none;
}
.checkout .changeQuantity{
  display: unset
} */