.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  margin:0;
}
.nav{
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
}
.products-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap:20px;
  padding: 30px;
}

.product-area{
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid white;
  background-color: white;
  align-items: center;
  text-align: center;
}
.footer{
  text-align: center;
}
.body{
  background-color: pink;
}


