.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  margin:0;
}
.nav{
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
}
.products-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap:20px;
  padding: 30px;
}

.product-area{
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 10px;
  border: 1px solid white;
  background-color: white;
  align-items: center;
  text-align: center;
}

.product-area img {
  height: 200px;
  width: 200px;
}
.footer{
  text-align: center;
  
}
.body{
  background-color: pink;
  font-family: arial;
  min-height: 100vh;
}

.out-of-stock {
  color: red;
}

#quantity-input {
  width: 30px;
  text-align: center;
  height: 30px;
  border: 1px solid rgb(255, 106, 131);
  border-radius: 5px 0px 0px 5px;
}

.quantity-button {
  width: 30px;
  height: 34px;
  border: none;
  color: white;
  background-color: rgb(255, 106, 131);
  text-decoration: none;
}

.quantity-button:hover {
  background-color: rgb(255, 152, 169);
}

.decrement-button {
  border-radius: 0px 5px 5px 0px;
}

.add-to-cart-button {
  width: 150px;
  height: 30px;
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  background-color: rgb(255, 106, 131);
  text-decoration: none;
}

.add-to-cart-button:hover {
  background-color: rgb(255, 152, 169);
}

.single-product-view #quantity-input {
  width: 50px;
  height: 50px;
}

.single-product-view .quantity-button {
  height: 54px;
  width: 50px;
}

.single-product-view .add-to-cart-button {
  width: 160px;
  height: 40px;
}

.single-product-view .read-more-link {
  display: none;
}

.single-product-view {
  display: flex; 
  padding-left: 50px;
}

.single-product-view img {
  height: 500px;
  width: 500px;
  margin-right: 40px;
}



.data {
  border-collapse: collapse;
  width: 960px;
  margin: 30px auto;
}

.data td,
tr,
th {
  border: 1.5px solid gray;
  padding: 5px;
  text-align: center;
}

.data button {
  border: none;
  cursor: pointer;
}
.create-Product-Btn{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 960px;
  margin: 30px auto;
}

#cart {
  width: 200px;
  height: 400px;
  background-color: rgb(255, 238, 238);
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  top: 60px;
  right: 40px;
  overflow: scroll;
}

.cart-button {
  background-color: pink;
  border: none;
}

.cart-button:hover {
  color: rgb(60, 60, 60);
}

.in-cart-list {
  list-style-type: none;
  width: 100%;
  display: flex;
}

.in-cart-list img {
  margin-right: 10px;
}

.product-form{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 20px 30px;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1rem;
  width: 850px;
  margin: 10px auto;
  background-color: antiquewhite;
  border-radius: 5px;
}
.product-form input{
  width: 98%;
  height: 1.3rem;
  border-radius: 2px;
  border: 1.2px solid;
}
.product-form textarea{
  width: 100%;
}
.product-form button{
  width: 100%;
  height: 1.8rem;
  border-radius: 6px;
  border: 1.5px solid;
  
}
.product-form-info{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.product-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 50px;
  align-items: center;
  line-height: 1rem;
  margin: 10px auto;
  background-color: antiquewhite;
  border-radius: 5px;
  margin: 20px 150px;
}
.product-form-info input{
  width: 100%;
  height: 1.3rem;
  border-radius: 2px;
  border: 1.2px solid;
}
.product-form textarea{
  width: 100%;
}
.product-form button{
  width: 100%;
  height: 1.8rem;
  border-radius: 6px;
  border: 1.5px solid;
}
.product-form-info{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.product-form-photo{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.checkout{
  display: grid;
  grid-template-columns: 3.5fr 1.3fr;
  grid-template-areas: 
  'orders news'
  'shipping news';
  line-height: 1rem;
  margin: 40px 50px;
}
.orders{
  grid-area: orders;
}
.news{
  grid-area: news;
  padding-left: 50px;
  font-size: 14px;
}
.news input{
  height: 25px;
  width: 97%;
  margin-top: 8px;
  border-radius:4px;
  border: 1.2px solid;
}
.shipping{
  grid-area: shipping;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-areas: 'first last'
  'email password'
  'country country'
  'comment comment'; */
}
.shipping input{
  grid-column: 1fr 2fr;
}
.checkout hr{
  height: 1.4px;
}
.subscribe{
  background-color: orange;
  border: 2px solid orange;
  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
  height: 28px;
}
